<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Team Members <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="/about/t6/a">Shruthi Patlolla</a></li>
          <li><a href="#">Vijay Kumar Tupakula</a></li>
        </ul>
      </li>
  </ul>
</li>