<div class="container-fluid">
  <div class=row>
    <div class="col col-md-6">
      <h1>Flights!</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      <ol>
        <li>
          <a href="<%= currentUrl %>flight"><%= currentUrl %>flight</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/create"><%= currentUrl %>flight/create</a>
        </li>

        <li>
          <a href="<%= currentUrl %>flight/edit/1"><%= currentUrl %>flight/edit/1</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/edit/2"><%= currentUrl %>flight/edit/2</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/edit/3"><%= currentUrl %>flight/edit/3</a>
        </li>

        <li>
          <a href="<%= currentUrl %>flight/delete/1"><%= currentUrl %>flight/delete/1</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/delete/2"><%= currentUrl %>flight/delete/2</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/delete/3"><%= currentUrl %>flight/delete/3</a>
        </li>

        <li>
          <a href="<%= currentUrl %>flight/details/1"><%= currentUrl %>flight/details/1</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/details/2"><%= currentUrl %>flight/details/2</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/details/3"><%= currentUrl %>flight/details/3</a>
        </li>

      </ol>
      <br/>
      <h4>GET JSON</h4>
      <ol>

        <li>
          <a href="<%= currentUrl %>flight/findall"><%= currentUrl %>flight/findall</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/findone/1"><%= currentUrl %>flight/findone/1</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/findone/2"><%= currentUrl %>flight/findone/2</a>
        </li>
        <li>
          <a href="<%= currentUrl %>flight/findone/3"><%= currentUrl %>flight/findone/3</a>
        </li>

      </ol>
    </div>
    <div class="col-md-6">
        <h1>pilots!</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="<%= currentUrl %>pilot"><%= currentUrl %>pilot</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/create"><%= currentUrl %>pilot/create</a>
          </li>
  
          <li>
            <a href="<%= currentUrl %>pilot/edit/1"><%= currentUrl %>pilot/edit/1</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/edit/2"><%= currentUrl %>pilot/edit/2</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/edit/3"><%= currentUrl %>pilot/edit/3</a>
          </li>
  
          <li>
            <a href="<%= currentUrl %>pilot/delete/1"><%= currentUrl %>pilot/delete/1</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/delete/2"><%= currentUrl %>pilot/delete/2</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/delete/3"><%= currentUrl %>pilot/delete/3</a>
          </li>
  
          <li>
            <a href="<%= currentUrl %>pilot/details/1"><%= currentUrl %>pilot/details/1</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/details/2"><%= currentUrl %>pilot/details/2</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/details/3"><%= currentUrl %>pilot/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="<%= currentUrl %>pilot/findall"><%= currentUrl %>pilot/findall</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/findone/1"><%= currentUrl %>pilot/findone/1</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/findone/2"><%= currentUrl %>pilot/findone/2</a>
          </li>
          <li>
            <a href="<%= currentUrl %>pilot/findone/3"><%= currentUrl %>pilot/findone/3</a>
          </li>
  
        </ol>
  
  
    </div>
  </div>
</div>