.img-circle {
    border-radius: 50%;
    height: "50%";
    width: 250px;
    display: block;
    margin: 0 auto;
}
header{
    text-decoration-line: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
a{
    color: rgb(26, 22, 22);
  }
body {
    background-image: url("../images/bg1.jpg");
}
article {
    background-color: #a17272;
	font-family: verdana;
	font-size: 16px;
    text-align: center;
    align-content: center;
    width: 70%;
    display: block;
    margin: 0 auto;
}
#container{width:60%;
    margin-left: auto;
    margin-right: auto;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
iframe{
    display: block;
    margin: 0 auto;
}