<!-- Developer - Vijay -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="pilot/create" class="btn btn-primary new">
        Create a new Pilot
      </a>
      <h2>Recent Pilot entries</h2>
      <p>There are
        <%= pilots.query.length %> pilots.
          <br/>
      </p>
      <div class="container">            
        <table class="table table-striped">
          <thead>
        <tr>
           <th>ID</th><th>Last Name</th><th>First Name</th><th>Flying Time</th><th>Is on duty</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = pilots.query.length-1; i >= 0; i--) {   
          pilot = pilots.query[i];   %>
        <tr>
          <td><%=  pilot._id %></td><td><%=pilot.lastname%></td><td><%=pilot.firstname%></td><td><%=pilot.hoursFlown%></td>
          <td> <%=pilot.isCurrent%></td>
          <td><a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a></td>
          <td><a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a></td>
          <td><a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a></td>
       </tr>
       <% } %>
      </tbody>
    </table>
  </div>
     

    </div>
  </div>
</div>