<!-- Developer - Vijay -->
<!-- main  -->

<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" value="<%= pilot.firstname %>">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" value="<%= pilot.lastname %>" required>
    </div>

    <div class="form-group">
      <label for="hoursFlown">Flying time</label>
      <input type="number" class="form-control" id="hoursFlown" name="hoursFlown" value="<%= pilot.hoursFlown %>" required>
    </div>
  </div>
</div>
<hr>



<!-- PUT CLIENT SIDE CODE HERE -->
<script>  
// prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>