

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
    bootstrap.min.css">
    <link rel="stylesheet" href="../../CSS/index.css">
<h1>Shruthi Patlolla</h1>
<h2>Software Developer</h2>
<img class="img-circle" src="../../images/shruthi.jpg" >
<br>
<article>
<p>
    I am a
    Graduate student for spring 2018 intake for Masters in Applied Computer Science at North West Missouri State University.
</p>
</section>
</article>
<br>
<br>


<iframe 
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<br/>
<br/>